<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><add name="RAPSystemEntities" connectionString="metadata=res://*/DBModel.RapSys.csdl|res://*/DBModel.RapSys.ssdl|res://*/DBModel.RapSys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGMDSSDBX01;initial catalog=RAPSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="EmployeeDBEntities" connectionString="metadata=res://*/DBModel.EDB.csdl|res://*/DBModel.EDB.ssdl|res://*/DBModel.EDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGMPSSDBX11;initial catalog=EmployeeDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>