
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string powerUser = "d-none";
    string auditor = "d-none";
    string surveyorTopo = "d-none";

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-POWER"))
    {
        powerUser = "";
    }

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-AUDIT") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-POWER"))
    {
        auditor = "";
    }

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-INV") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-TOPO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-POWER"))
    {
        surveyorTopo = "";
    }
}

<h2>Welcome to Community Management</h2>

<br />
<div>
    <div class="row">
        <div class="col-4">
            <div class="card mb-xlg">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a href="/Community/PapLAC" class="btn btn-primary btn-rounded-f @surveyorTopo">List of PAP</a>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <a href="/Community/Audit" class="btn btn-primary btn-rounded-f @auditor">Perform Audit</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>


        <div class="col-8">
            <div class="card">
                <div class="d-flex align-items-start">
                    @*<img class="card-img-top" src="~/Content/Images/Image.jpg" alt="Card image cap">*@
                </div>
            </div>
        </div>
    </div>

</div>

