
@{
    ViewBag.Title = "Paps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of PAP</h2>

<section class="widget">
    <header class="d-flex justify-content-between flex-wrap">
        <a href="/Community/Index" class="btn btn-default" type="button" id="goBack"><i class="fas fa-arrow-left"></i></a>
        <a href="#" id="addPAP" class="btn btn-primary" type="button" title="Add PAP"><i class="fas fa-address-card"></i></a>
    </header>

    <hr />
    <div class="widget-body">
        <div class="mt">
            <div id="datatable-table_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive">
                <table id="datatablePapList" class="table table-striped table-hover dataTable no-footer table-responsive-lg nowrap">
                    <thead>
                        <tr role="row">
                            <th>Action</th>
                            <th>PAP IN</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>ID Card</th>
                            <th>Mobile</th>
                            <th>Residence</th>
                            <th>Picture</th>
                            <th>DOB</th>
                            <th>POB</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@* ADD PAP *@
<div class="modal" id="addPAPModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <h5 class="modal-title" id="addPAPModalTitle"><string>Add PAP</string></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-row alert alert-danger hiden" style="display:none" id="papDetailsError"></div>
                    <div class="form-row col-md-12">
                        <div class="col-md-6">
                            <div class="form-group row" style="display:none">
                                <label for="personID" class="col-md-4 form-control-label text-md-right">First Name</label>
                                <div class="col-md-8 row">
                                    <input type="text" id="personID" class="form-control col-md-6" data-placement="top" placeholder="Person ID">
                                    <input type="text" id="papID" class="form-control col-md-6" data-placement="top" placeholder="PAP ID">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="firstName" class="col-md-4 form-control-label text-md-right">First Name</label>
                                <div class="col-md-8">
                                    <input type="text" id="firstName" class="form-control reset" data-placement="top" placeholder="Add here the First Name..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastName" class="col-md-4 form-control-label text-md-right">Last Name</label>
                                <div class="col-md-8">
                                    <input type="text" id="lastName" class="form-control reset" data-placement="top" placeholder="Add here the Last Name..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="middleName" class="col-md-4 form-control-label text-md-right">Middle Name</label>
                                <div class="col-md-8">
                                    <input type="text" id="middleName" class="form-control reset" data-placement="top" placeholder="Add here the Middle Name..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cardNumber" class="col-md-4 form-control-label text-md-right">Card Number</label>
                                <div class="col-md-8">
                                    <input type="text" id="cardNumber" class="form-control reset" data-placement="top" placeholder="Add here the Card Number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cellPhone" class="col-md-4 form-control-label text-md-right">Cell Phone</label>
                                <div class="col-md-8">
                                    <input type="tel" id="cellPhone" class="form-control reset" data-placement="top" placeholder="Add here Cell Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 form-control-label text-md-right">Email</label>
                                <div class="col-md-8">
                                    <input type="email" id="email" class="form-control reset" data-placement="top" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dob" class="col-md-4 form-control-label text-md-right">DOB</label>
                                <div class="col-md-8">
                                    <input type="date" id="dob" class="form-control" data-placement="top" placeholder="DOB">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pob" class="col-md-4 form-control-label text-md-right">POB</label>
                                <div class="col-md-8">
                                    <input type="text" id="pob" class="form-control reset" data-placement="top" placeholder="Place of Birth">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="gender" class="col-md-4 form-control-label text-md-right">Gender</label>
                                <div class="col-md-8">
                                    <label><input type="radio" name="gender" value="M" />Male</label>
                                    <label><input type="radio" name="gender" value="F" />Female</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="primaryResidence" class="col-md-4 form-control-label text-md-right">Residence</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control reset" id="primaryResidence" data-placement="top" placeholder="Primary Location" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vulnerabilityType" class="col-md-4 form-control-label text-md-right">Vulnerability Type</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="vulnerabilityType" data-placement="top" data-placeholder="Vulnerability Type"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vulnerabilityDetails" class="col-md-4 form-control-label text-md-right">Vulnerability Detail</label>
                                <div class="col-md-8">
                                    <input type="text" id="vulnerabilityDetails" class="form-control reset" data-placement="top" placeholder="Vulnerability Detail">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="papSpouse" class="col-md-4 form-control-label text-md-right">Spouse</label>
                                <div class="col-md-8">
                                    <input type="text" id="papSpouse" class="form-control reset" data-placement="top" placeholder="Spouse Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="papMother" class="col-md-4 form-control-label text-md-right">Mother</label>
                                <div class="col-md-8">
                                    <input type="text" id="papMother" class="form-control reset" data-placement="top" placeholder="Mother Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="papfather" class="col-md-4 form-control-label text-md-right">Father</label>
                                <div class="col-md-8">
                                    <input type="text" id="papfather" class="form-control reset" data-placement="top" placeholder="Father Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pictureID" class="col-md-4 form-control-label text-md-right">Picture ID</label>
                                <div class="col-md-8">
                                    <input type="text" id="pictureID" class="form-control reset" data-placement="top" placeholder="Picture ID">
                                </div>
                            </div>
                            <div class="form-group row" style="display:none" id="papPicture">
                                <label for="picture" class="col-md-4 form-control-label text-md-right">Picture</label>
                                <div class="col-md-8" id="picture" style="border-radius:5px">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row" id="divPAPPhoto">
                            <label for="PAPphoto" class="col-md-2 form-control-label text-md-right">PAP Picture</label>
                            <div class="col-md-10">
                                <input id="PAPphoto" name="PAPphoto" type="file" class="file" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["jpg","jpeg","png"]' data-el-Error-Container="#PAPphoto-errors">
                            </div>
                            <div id="PAPphoto-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12" id="divLinkPAPToLAC">
                        <input type="checkbox" id="addpaplacDetails" value="Add" />
                        <label for="addpaplacDetails">Add this PAP to LAC</label>

                        <div id="papLacDetails" class="col-md-12 form-row" style="border-radius:5px">
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <select class="form-control" id="lacID" data-placement="top" data-placeholder="Select LAC"></select>
                                </div>
                                <div class="form-group row">
                                    <select class="form-control" id="paymentPreference" data-placement="top" data-placeholder="Payment Preference"></select>
                                </div>
                                <div class="form-group row">
                                    <input type="date" id="submissionDate" class="form-control reset" data-placement="top">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <input type="date" id="presurveyDate" class="form-control" data-placement="top">
                                </div>
                                <div class="form-group row">
                                    <input type="text" id="presurveyorCode" class="form-control reset" data-placement="top" placeholder="Presurveyor">
                                </div>
                                <div class="form-group row">
                                    <input type="date" id="surveyDate" class="form-control" data-placement="top">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <input type="text" id="surveyorCode" class="form-control reset" data-placement="top" placeholder="Surveyor">
                                </div>
                                <div class="form-group row">
                                    <input type="text" id="fileId" class="form-control reset" data-placement="top" placeholder="File ID">
                                </div>
                                <div class="form-group row">
                                    <textarea id="papLacComment" class="form-control reset" data-placement="top" placeholder="Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loader" style="display:none"></div>
            <div class="modal-footer">
                <div>
                    <button type="button" class='btn btn-primary' id="saveNewPap">Save</button>
                    <button type="button" class="btn btn-primary" id="updatePap">Update</button>
                    <button type="button" class='btn btn-secondary' data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@* LINK A PAP TO A LAC *@
<div class="modal" id="linkPAPLACModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <h5 class="modal-title" id="addPAPLACModalTitle"><string>Add PAP to LAC</string></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-row alert alert-danger hiden" style="display:none" id="linkPAPLACModalError"></div>
                    <div class="form-group row hiden" style="display:none">
                        <label for="papID" class="col-md-4 form-control-label text-md-right">PAP ID</label>
                        <div class="col-md-8">
                            <input type="text" id="linkPAPID" class="form-control" data-placement="top" placeholder="PAP ID">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lacID" class="col-md-4 form-control-label text-md-right">LAC Name</label>
                        <div class="col-md-8">
                            <select class="form-control" id="lacID" data-placement="top" data-placeholder="Select LAC"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="paymentPreference" class="col-md-4 form-control-label text-md-right">Payment Preference</label>
                        <div class="col-md-8">
                            <select class="form-control" id="paymentPreference" data-placement="top" data-placeholder="Payment Preference"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="submissionDate" class="col-md-4 form-control-label text-md-right">Submission Date</label>
                        <div class="col-md-8">
                            <input type="date" id="submissionDate" class="form-control" data-placement="top">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="presurveyDate" class="col-md-4 form-control-label text-md-right">Presurvey Date</label>
                        <div class="col-md-8">
                            <input type="date" id="presurveyDate" class="form-control" data-placement="top">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="presurveyorCode" class="col-md-4 form-control-label text-md-right">Presurveyor Code</label>
                        <div class="col-md-8">
                            <input type="text" id="linkpresurveyorCode" class="form-control" data-placement="top" placeholder="Presurveyor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="surveyDate" class="col-md-4 form-control-label text-md-right">Survey Date</label>
                        <div class="col-md-8">
                            <input type="date" id="surveyDate" class="form-control" data-placement="top">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="surveyorCode" class="col-md-4 form-control-label text-md-right">Surveyor Code</label>
                        <div class="col-md-8">
                            <input type="text" id="linksurveyorCode" class="form-control" data-placement="top" placeholder="Surveyor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="papfileId" class="col-md-4 form-control-label text-md-right">File ID</label>
                        <div class="col-md-8">
                            <input type="text" id="papfileId" class="form-control" data-placement="top" placeholder="File ID">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="papLacComment" class="col-md-4 form-control-label text-md-right">Comment</label>
                        <div class="col-md-8">
                            <textarea id="papLacComment" class="form-control" data-placement="top" placeholder="Comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loader" style="display:none"></div>
            <div class="modal-footer">
                <div>
                    <button type="button" class='btn btn-primary' id="savePapLac">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            LoadPAPList();
        });
    </script>
}