
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string powerUser = "d-none";
    string topograph = "d-none";
    string surveyor = "d-none";

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-POWER"))
    {
        powerUser = "";
    }


    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-TOPO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-POWER"))
    {
        topograph = "";
    }

    if (Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-ADM") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-INV") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-LO") || Roles.IsUserInRole(HttpContext.Current.User.Identity.Name, "CMOCTFM\\SG-FGM-RAP-POWER"))
    {
        surveyor = "";
    }
}

<h2>Welcome to Land Management</h2>

<br />
<div>
    <div class="row">
        <div class="col-4">
            <div class="card mb-xlg">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a href="/LandManagement/LandStatus" class="btn btn-primary btn-rounded-f @powerUser">Check Land Acquisition Status</a>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <a href="/LandManagement/LandImpactMitigation" class="btn btn-primary btn-rounded-f @topograph">Impact and Mitigation</a>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <a href="/LandManagement/LacList" class="btn btn-primary btn-rounded-f @surveyor">List of LAC</a>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <a href="/Land/RestrictedZones" class="btn btn-primary btn-rounded-f @powerUser">Restricted Zones</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-8">
            <div class="card">
                <div class="d-flex align-items-start" >
                    <img class="card-img-top" src="~/Content/Images/Image.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>

</div>

