
@{
    ViewBag.Title = "Land Impact and Mitigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Land Impact and Mitigation</h2>

<section class="widget">
    <header class="d-flex justify-content-between flex-wrap">
        <a href="/Land/Index" class="btn btn-default" type="button" id="goBack"><i class="fas fa-arrow-left"></i> </a>
    </header>

    <hr />
    <div class="widget-body">
        <div class="mt">
            <div id="datatable-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <table id="datatable-landMitigation" class="table table-striped table-hover dataTable no-footer table-responsive" role="grid" aria-describedby="datatable-approval_info">
                    <thead>
                        <tr role="row">
                            <th style="width: 220px;">Action</th>
                            <th aria-controls="datatable-table" style="width: 411px;">Project Name</th>
                            <th aria-controls="datatable-table" style="width: 192px;">Region</th>
                            <th style="width: 192px;">Schedule Date</th>
                            <th aria-controls="datatable-table" style="width: 321px;">Contact Person</th>
                            <th aria-controls="datatable-table" style="width: 358px;">Request Date</th>
                            <th aria-label="Requestor" style="width: 134px;">Requestor</th>
                            <th aria-label="Department" style="width: 134px;">Department</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        $(document).ready(function () {
            LoadLandRequestImpactMitigation();
        });
    </script>
}