
@{
    ViewBag.Title = "Land Request Impact and Mitigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Land Request impact & Mitigation</h2>

<section class="widget">
    <header class="d-flex justify-content-between flex-wrap">
    </header>

    <hr />
    <div class="widget-body">
        <div class="mt">

        </div>
    </div>
</section>