
@{
    ViewBag.Title = "Land Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Land Acquisition Status</h2>

<section class="widget">
    <header class="d-flex justify-content-between flex-wrap">
        <a href="/Land/Index" class="btn btn-default" type="button" id="goBack"><i class="fas fa-arrow-left"></i> </a>
    </header>

    <hr />
    <div class="widget-body">
        <div class="mt">
            <div id="datatable-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <table id="datatable-landApproval" class="table table-striped table-hover dataTable no-footer table-responsive" role="grid" aria-describedby="datatable-approval_info">
                    <thead>
                        <tr role="row">
                            <th style="width: 220px;">Action</th>
                            <th aria-controls="datatable-table" style="width: 411px;">Project Name</th>
                            <th aria-controls="datatable-table" style="width: 192px;">Region</th>
                            <th aria-controls="datatable-table" style="width: 358px;">Request Date</th>
                            <th aria-label="Requestor" style="width: 134px;">Requestor</th>
                            <th aria-controls="datatable-table" style="width: 321px;">Contact Person</th>
                            <th aria-label="Department" style="width: 134px;">Department</th>
                            <th aria-controls="datatable-table" style="width: 192px;">Cost Code</th>
                            <th style="width: 192px;">Schedule Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@*COMMENT MODAL*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="actionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionModalTitle">Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="actionModalErrors">
                    <ul style="margin: 0">
                        <li>Some sample alert</li>
                    </ul>
                </div>
                <input type="hidden" id="requestId" />
                <div class="form-group">
                    <label for="rejectComment" class="col-form-label">Comment</label>
                    <textarea rows="2" class="form-control col-12" id="actionComment" placeholder="Action Comment"></textarea>
                </div>

                <div class="form-group">
                    <label for="rejectComment" class="col-form-label">Project GPS File</label>
                    <input id="projectGPS" name="projectGPS" type="file" class="file form-control" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["csv"]'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="actionGreenLight">Authorize</button>
                <button type="button" class="btn btn-info" id="actionForward">Send Impact</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* MAKE RESTRICTED MODAL *@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="makeRestrictedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Make Restricted</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="makeRestrictedModalErrors">
                    <ul style="margin: 0">
                        <li>Some sample alert</li>
                    </ul>
                </div>
                <div class="form-group row" style="display:none">
                    <label for="LandRequestId" class="col-md-4 form-control-label text-md-right">Land Request Id</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="LandRequestId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="zoneStatus" class="col-md-4 form-control-label text-md-right">Status</label>
                    <div class="col-md-8">
                        <select class="form-control" id="zoneStatus">
                            <option value="-1">Select zone Status</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="AuthorizedDate" class="col-md-4 form-control-label text-md-right">GPS Date</label>
                    <div class="col-md-8">
                        <input type="date" id="AuthorizedDate" class="form-control" data-placement="top" placeholder="GPS Date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LandEasting" class="col-md-4 form-control-label text-md-right">Land Easting</label>
                    <div class="col-md-8">
                        <input type="number" id="LandEasting" class="form-control" data-placement="top" placeholder="Easting">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LandNorthing" class="col-md-4 form-control-label text-md-right">Land Northing</label>
                    <div class="col-md-8">
                        <input type="number" id="LandNorthing" class="form-control" data-placement="top" placeholder="Northing">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="AreaRequested" class="col-md-4 form-control-label text-md-right">Area Requested</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="number" class="form-control" aria-label="" id="AreaRequested">
                            <select class="form-control bootstrap-select btn-primary" id="AreaRequestedUOM">
                                <option value="-1">UOM</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="landComment" class="col-md-4 form-control-label text-md-right">Comment</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="landComment" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="makeRestrictedModal">Restrict</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            LoadApprovedLandRequest();
        });
    </script>
}