
@{
    ViewBag.Title = "My Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Requests</h2>

<section class="widget">
    <header class="d-flex justify-content-between flex-wrap">
        <a href="#" class="btn btn-primary" type="button" id="newLandRequest"><i class="far fa-plus-square fa-2x"> </i> </a>
    </header>

    <hr />
    <div class="widget-body">
        <div class="mt">
            <div id="datatable-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <table id="datatable-table" class="table table-striped table-hover no-footer nowrap" >
                    <thead>
                        <tr role="row">
                            <th>Action</th>
                            <th>Project Name</th>
                            <th>Cost Code</th>
                            <th>Region</th>
                            <th>Schedule Date</th>
                            <th>Contact Person</th>
                            <th>Request Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@* CREATE A NEW LAND REQUEST *@
<div class="modal fade" id="newLandRequestModal" tabindex="-1" role="dialog" aria-labelledby="newLandRequestModalLabel" aria-hidden="true" style="display: none;" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newLandRequestModalTitle">New Land Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="projectRequestError">
                    <label>Error Lists</label>
                </div>
                <div class="form-group" style="display:none">
                    <label for="LandRequestId" class="col-md-4 form-control-label text-md-right">Land Request Id</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="LandRequestId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="projectName" class="col-md-4 form-control-label text-md-right">Project Name</label>
                    <div class="col-md-8">
                        <input type="text" id="projectName" class="form-control" data-placement="top" placeholder="Add here the Project Name..">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-md-right" for="projectRegion">Region</label>
                    <div class="col-md-8">
                        <select class="form-control" id="projectRegion" data-placeholder="Select project region">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-md-right" for="projectCostCode">Project Cost Code</label>
                    <div class="col-md-8">
                        <input type="text" id="projectCostCode" class="form-control" data-placement="top" placeholder="Add here the Project Code..">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 control-label text-md-right" for="projectDescription">Description</label>
                    <div class="col-md-8">
                        <textarea rows="2" class="autogrow form-control transition-height" id="projectDescription" placeholder="Project description" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 76px;"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 control-label text-md-right" for="projectDate">Schedule Date</label>
                    <div class="col-md-8 input-group">
                        <input type="date" id="projectDate" class="form-control" data-placement="top" placeholder="Project Date" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="form-check-label col-md-4 control-label text-md-right" for="projectUrgent">Urgent?</label>
                    <div class="col-md-8">
                        <input class="form-check-input" id="projectUrgent" type="checkbox">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="projectContactPerson" class="col-md-4 form-control-label text-md-right">Contact Person</label>
                    <div class="col-md-8 ui-front">
                        <input type="text" id="projectContactPerson" class="form-control" data-placement="top" placeholder="Contact Person...">
                    </div>
                </div>
                <div class="form-group row" id="divProjectAFE">
                    <label for="projectMAP" class="col-md-4 form-control-label text-md-right">Project AFE</label>
                    <div class="col-md-8">
                        <input id="projectAFE" name="projectAFE" type="file" class="file" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["pdf"]' data-el-Error-Container="#projectAFE-file-errors">
                    </div>
                    <div id="projectAFE-file-errors"></div>
                </div>
                <div class="form-group row">
                    <label for="projectMAP" class="col-md-4 form-control-label text-md-right">Project File</label>
                    <div class="col-md-8">
                        <input id="projectMAP" name="projectMAP" type="file" class="file" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["pdf"]' data-el-Error-Container="#projectMAP-file-errors">
                    </div>
                    <div id="projectMAP-file-errors"></div>
                </div>
                <div class="form-group row">
                    <label for="projectGPS" class="col-md-4 form-control-label text-md-right">Project Polygon</label>
                    <div class="col-md-8">
                        <input id="projectGPS" name="projectGPS" type="file" class="file" data-show-preview="false" data-theme="fas" data-show-upload="false" data-show-cancel="false" data-allowed-file-extensions='["csv","xls","xlsx","kml","kmz","dxf","dwg"]' data-el-Error-Container="#projectGPS-file-errors">
                    </div>
                    <div id="projectGPS-file-errors"></div>
                </div>
                <div class="form-group row" id="fileAttachments">
                    <label for="projectUploadFileName" class="col-md-4 form-control-label text-md-right"> Attachments</label>
                    <div class="col-md-8" id="projectUploadFileName">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="projectCreateRequest">Create Request</button>
                <button type="button" class="btn btn-primary" id="projectUpdateRequest">Update Request</button>
                <button type="button" class="btn btn-secondary close-modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            LoadLandRequest();
        });
    </script>
}