
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2>This is the test environment. Please go to production Environment for live data.</h2>
                <br />
                <br />
                <a href="http://tfmrap/" class="btn btn-large btn-dark">GO TO PRODUCTION</a>

            </div>
        </div>
    </div>
</div>