@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>WELCOME TO TFM RAP SYSTEM</strong></h1>
    <p class="lead"></p>
    @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Land Management</h2>
        <p>
            Do you want to request for a Land? This is a good place. Your request will be approved by your HOD and then by RAP HOD. Then this request will be analyze by RAP team to determine if you can use it or no. So what are you waiting for?
        </p>
        <p><a class="btn btn-default" href="@Url.Action("MyRequest","Land")">Request &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Ressetlment</h2>
        <p>If the land contains users, then Ressetlment team will work to get details and plan compesation. This will go from auditors to identify people and goods for ressetlment</p>
        <p><a class="btn btn-default" href="#">Get in &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Complains</h2>
        <p>You can submit here a complain from field. This one will analyze by required team and then give feedback</p>
        <p><a class="btn btn-default" href="#">Start here &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Market Survey</h2>
        <p>The aim is to find the correct price of good, save them and then use this price to compesate people with their goods. This must be done each month</p>
        <p><a class="btn btn-default" href="#">Enter survey &raquo;</a></p>
    </div>
</div>